<h1>New recipe</h1>

<% if current_user %>
  <%= render 'form' %>
<% else %>
  <h2>Has d'<%= link_to "iniciar sessió",login_path  %> per escriure una recepta</h2>
<% end if %>

<%= link_to 'Back', recipes_path %>
