// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.avatar{
	border: 15px solid white;
	float: right;
}

zombie_info{
	float:left;
}